
body  {
  background: linear-gradient(to right, #e0f7fa, #e1bee7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
   
}

.page-title {
     color: #4527a0;
    text-align: center;
    padding: 20px;
    font-size: 2.5em;
}


.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 15px;
    border-radius: 5px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: px;
    font-size: 16px;
}


.search-bar .search-button:hover {
    background-color: #4a2e90;
}
.no-results {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 50vh; 
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #0e0101;
    text-align: center;
    background-color: #bbdefb;
}
.product-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: linear-gradient(to right, #e0f7fa, #e1bee7, #bbdefb);

}


.product-list {
      background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    margin: 20px;
    text-align: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.product h2 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.product p {
    font-size: 1rem;
    color: #777;
    margin: 5px 0;
}

.add-to-cart-button {
    background-color:  #68a4e4;
    color: black;
    border: none;
    padding: 10px 15px;
    width: 75%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn {
    background-color: #68a4e4;
    color: black;
    border: none;
    padding: 10px 15px;
    width: 10%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}


.add-to-cart-button:hover {
    background-color: #a03f66;
    color: white;
}


.no-results {
    text-align: center;
    font-size: 1.5rem;
    color: #777;
    margin-top: 20px;
}



@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-button,
.account-button,
.go-to-cart-button,
.home-button{
    padding: 10px 20px;
    background-color: #3a369c;
    color: #fff;
    border: none;
    border-radius: px;
    cursor: pointer;
    font-size: 16px;
    margin-top: auto;
    display: flex;
    align-items: center;
}


.account-button:hover,
.go-to-cart-button:hover {
    background-color: #2e2a8a;
}

.cart-button-container {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #3a369c;
    
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #FF0000;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    z-index: 1;
}


.cart-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.cart-title {
    text-align: center;
    font-size: 2.5rem;
    color: #4d4185;
    margin-bottom: 20px;
}

.empty-cart-message {
    text-align: center;
    font-size: 1.5rem;
    color: #777;
    margin-top: 50px;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.cart-items {
    flex: 2;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
}

.cart-item-details {
    flex: 1;
}

.cart-item-name {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.cart-item-price {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.quantity-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.quantity-value {
    font-size: 1rem;
    font-weight: bold;
}

.remove-button {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-summary h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.checkout-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #218838;
}


.account-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account-title {
    text-align: center;
    font-size: 2.5rem;
    color: #4d4185;
    margin-bottom: 20px;
}

.user-info {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.user-info p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.update-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.update-button:hover {
    background-color: #0056b3;
}

.order-history {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-history h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th,
.order-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.order-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #cc0000;
}

/* Login Page Styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bbdefb;
    margin: 0;
}

.login-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.login-subtitle {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-label {
    text-align: left;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

.login-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.login-input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login-button {
    background-color:#3a369c;
    text-align: center;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.login {
    background-color: #007BFF;
    text-align: center;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
}

.login-footer a {
    color: #007BFF;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}


.notification {
 position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    background-color: #3a369c;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 16px;
    animation: fadeInOut 3s ease-in-out;
}


@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}

.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.product-details {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.product-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.product-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-price,
.product-material,
.product-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.product-sizes {
    margin-top: 20px;
    text-align: center;
}

.sizes-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.size-box {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.size-box:hover {
    background-color: #e0e0e0;
}

.size-box.selected {
    background-color: #007BFF;
    color: white;
    border-color: #0056b3;
}




.product-reviews {
    text-align: left;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.product-reviews h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.reviews-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.review-item:last-child {
    border-bottom: none;
}

.review-user {
    font-size: 1rem;
    color: #333;
}

.review-rating {
    font-size: 0.9rem;
    color: #777;
}

.review-comment {
    font-size: 0.9rem;
    color: #555;
}


.cart-buttons-container {
    display: flex;
    justify-content: center; 
    gap: 15px; 
    margin-top: 20px; 
}


.add-to-cart-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    flex: 1; 
    max-width: 200px; 
    text-align: center;
}


.go-to-cart-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    flex: 1; 
    max-width: 200px; 
    text-align: center;
}


.add-to-cart-btn:hover {
    background-color: #0056b3;
}

.go-to-cart-btn:hover {
    background-color: #218838;
}

